# Library Requirements File

################## Default Libraries Used - Python 2.7 

# SYSTEM -- DefaultLib
#sys

# OS -- DefaultLib
#os

# socket  -- DefaultLib
#socket

# Regular Expression  -- DefaultLib
#re

# JSON  -- DefaultLib
#json

# HTTP LIB
#requests

# SQL Database
#sqlite3

# warning - supress warnings
#warnings
 
#################### Custom Libraries Used

# whois - To obtain the whois information
ipwhois

# dns - To obtain the dns information - ipwhois by default downloads this library
#dns -- check name

# KML File Generation
simplekml








